<% if message.user.doctor? %>
  <div class="message-container doctor-message" id="message-<%= message.id %>">
    <i class="author">
      <span><%= message.user.first_name %><%= message.user.last_name %></span>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </i>
    <p><%= message.content %></p>
  </div>
<% else %>
  <div class="message-container patient-message" id="message-<%= message.id %>">
    <i class="author">
      <span><%= message.user.first_name %><%= message.user.last_name %></span>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
    </i>
    <p><%= message.content %></p>
  </div>
<% end %>
