<div class="container sign-up-form mt-3">
  <%= link_to "x Cancel registeration", root_path %>

  <h2 class="mt-3">Enter your personal details</h2>

  <p class="mt-3">We just need some basic information about to get set-up</p>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name,
                  required: true,
                  autofocus: true%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :dob,
                  required: true,
                  label: "Date of Birth",
                  placeholder: "dd/mm/yyyy",
                  html5: true  %>
      <%= f.input :gender,
                  required: true,
                  collection: ["Male", "Female"] %>
      <%= f.input :nhs_number,
                  required: true,
                  label: "NHS number (10 digits)",
                  placeholder: "For e.g. 485 777 3456" %>
      <%= f.input :doctor,
                  required: true,
                  label: "Are you a doctor?"%>
      <%= f.input :photo,
                  label: "Your profile picture",
                  as: :file %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Sign up", class:"btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
