<h3 class="container my-3">Manage your prescriptions</h3>
<h5 class="container mb-3">Active prescriptions</h5>

<% @prescriptions.each do |prescription| %>

  <% if prescription.created_at.to_date == Date.today %>
    <div class="dashboard-card new-prescription my-4">
        <div class="text-left p-2 m-0 border-bottom">
          <div>
            <h4><%= prescription.name %> <small class="orange-text">new!</small></h4>
            <p class="text-left m-0"> <b class="orange-text"><%= prescription.dose %></b> <%= prescription.frequency.downcase %></p>
          </div>
        </div>
        <div class="text-left p-2 m-0 border-bottom">
          <p class="m-0 appointment-summary">Duration</p>
          <%= prescription.duration %> days
        </div>
        <div class="d-flex flex-row align-items-center">
          <%= link_to user_prescription_path(current_user, prescription), class: "flex-fill" do %>
            <div class="buy-now d-flex justify-content-between align-items-center">
              <p class="m-0 p-2"><small>Buy now</small></p>
              <i class="fas fa-shopping-cart p-2"> </i>
            </div>
          <% end %>
          <%= link_to user_prescription_path(current_user, prescription), id: 'btn-reminder', class: "w-50", method: "patch" do %>
            <div class="set-reminder d-flex justify-content-between align-items-center">
              <p class="m-0 p-2"><small>Set a reminder</small></p>
              <i class="fas fa-bell p-2"></i>
            </div>
          <% end %>
        </div>
    </div>
  <% else %>
    <div class="dashboard-card my-4">
        <div class="text-left p-2 m-0 border-bottom">
          <div>
            <h4><%= prescription.name %></h4>
            <p class="text-left m-0"> <b class="orange-text"><%= prescription.dose %></b> <%= prescription.frequency.downcase %></p>
          </div>
        </div>
        <div class="text-left p-2 m-0 border-bottom">
          <p class="m-0 appointment-summary">Duration</p>
          <%= prescription.duration %> days
        </div>
        <div class="d-flex flex-row align-items-center">
          <%= link_to user_prescription_path(current_user, prescription), class: "flex-fill" do %>
            <div class="buy-now d-flex justify-content-between align-items-center">
              <p class="m-0 p-2"><small>Buy now</small></p>
              <i class="fas fa-shopping-cart p-2"> </i>
            </div>
          <% end %>
          <%= link_to user_prescription_path(current_user, prescription), class: "w-50", method: "patch" do %>
            <div class="set-reminder d-flex justify-content-between align-items-center">
              <p class="m-0 p-2"><small>Set a reminder</small></p>
              <i class="fas fa-bell p-2"></i>
            </div>
          <% end %>
        </div>
    </div>
  <% end %>
<% end %>
<br>
<br>
<br>

link_to user_prescription_path(current_user, prescription) do  %>

