<h3 class="container mb-5">Order <%= @prescription.name.downcase %></h3>
<h5 class="container mb-3">Please review and complete details for order</h5>


  <div class="dashboard-card">
    <div class="text-left p-2 m-0 border-bottom">
      <div class="">
        <p class="order-category m-0">Prescription holder</p>
        <p class="text-left m-0 orange-text"> For <%= @prescription.user.first_name %> <%= @prescription.user.last_name %> </p>
      </div>
    </div>
    <div class="text-left p-2 m-0 border-bottom">
      <div class="">
        <p class="order-category m-0">Order</p>
        <p class="text-left m-0"> 1 x <%= @prescription.name %> <%= @prescription.dose %></p>
      </div>
    </div >
    <div class="text-left p-2 mb-4 mx-0 mt-0 ">
      <p class="m-0 order-category">Price</p>
      <p class="text-left m-0"> <%= humanized_money_with_symbol(@prescription.price)%>.00 </p>
    </div>
  </div>
  <div class="dashboard-card">
    <div class="p-2 text-left d-flex justify-content-between">
      <p class="p-1 m-0">Collection</p>
      <p class="p-1 m-0">Free</p>
    </div>
  </div>
  <br>

  <div class="container p-3 mb-5">
    <%= simple_form_for @order do |f| %>
      <%= f.association :pharmacy,
                        label: "Select pharmacy for collection",
                        as: :radio_buttons,
                        input_html: { class: "tag-selector" },
                        item_wrapper_class: 'tag-item' %>
      <%= f.hidden_field :prescription_id, value: @prescription.id %>
      <%= f.submit "Buy prescription", class: "btn btn-ghost" %>
    <% end %>
  </div>
      </div>
    </div>
  </div>
</div>

<style>
.prescription-card .topcard {
  border: 1px solid lightgrey;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom: none;
  padding-left: 16px;
  /*margin-top: 12px;
  padding-top: 8px;*/
  height: 48px;
  font-weight: bolder;
  display: flex;
  align-items: center;

}

#map {
  margin-top: 16px;
}

.prescription-card .bottomcard {
  border: 1px solid lightgrey;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top: none;
  padding-left: 16px;
  /*margin-top: 12px;
  padding-bottom: 12px;*/
  height: 48px;
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(255, 101, 30);
  text-align: middle;
}

.prescription-card-container {
  margin: 0 auto;
}

.prescription-card .middlecard {
  border: 1px solid lightgrey;
  padding-left: 16px;
/*  margin-top: 12px;
  padding-top: 16px;*/
  height: 96px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  /*flex-direction: column;*/
  justify-content: flex-start;
}
</style>
