<% def greeting %>
  <% current_time = Time.now.to_i %>
  <% midnight = Time.now.beginning_of_day.to_i %>
  <% noon = Time.now.middle_of_day.to_i %>
  <% five_pm = Time.now.change(:hour => 17 ).to_i %>

  <% case %>
    <% when midnight.upto(noon).include?(current_time) %>
      <% return "Good Morning" %>
    <% when noon.upto(five_pm).include?(current_time) %>
      <% return "Good Afternoon" %>
    <% when five_pm.upto(midnight + 1.day).include?(current_time) %>
      <% return "Good Evening" %>
  <% end %>
<% end %>


<h3 class="container mb-5"><%= greeting %>, <%= @user.first_name %></h3>

<div class="d-flex justify-content-around">
  <button class="btn user-tab tab" data-target="symptoms">Symptoms

    <% if SymptomCheck.where(user: current_user).last.created_at.to_date != Date.today %>
      <div class="notification">
        <%= current_user.symptoms.count - (SymptomCheck.where(user: current_user, created_at: Date.today.to_datetime)).count %>
      </div>
    <% end %>
  </button>

  <button class="btn user-tab tab" data-target="prescriptions">Prescriptions
    <% if current_user.all_pill_reminder_notifications > 0 %>
      <div class="notification">
        <%= current_user.all_pill_reminder_notifications %>
      </div>
    <% end %>
  </button>

  <button class="btn user-tab tab" data-target="appointments">Appointments
    <% if @upcoming_appointments.count > 0 %>
      <div class="notification">
        <%= @upcoming_appointments.count %>
      </div>
    <% end %>
  </button>

</div>

<div class="user-ul active" id="symptoms">
  <div class="dashboard-card">
    <% if SymptomCheck.where(user: current_user).last.created_at.to_date != Date.today # this is not working properly %>
      <%= simple_form_for @symptom_check do |f| %>
        <%= f.input :rating, label: 'How is your cough today?', as: :range, input_html: { min: 1, max: 5, id: 'rating-slider' }, required: false %>
        <p id='slider-text'>Same as usual</p>
        <%= f.button :submit, value: 'Submit', class: 'btn-ghost-small' %>
      <% end %>
    <% else %>
      <div class="completing-message">
        <h6>Well done! You have done your check for <%= SymptomCheck.where(user: current_user).last.symptom.name.downcase %> today 👏</h6>
      </div>
  </div>
    <% end %>


  <div class="dashboard-card" id="symptom-chart">
    <h5>History</h5>
    <%= line_chart @sliced, ytitle: "Severity", height: "200px", colors: ["#0da4c8", "#0da4c8"], showLines: 'false',
    library:
    { scales:
      { yAxes: [{ display: false }] }
    } %>
  </div>
</div>

<div class="user-ul" id="prescriptions">
  <% Prescription.where(reminder: true).each do |prescription| %>
    <% if DateTime.now < (prescription.created_at + prescription.duration.day)  %>
      <% if prescription.prescription_check_today? %>
        <div class="prescription_check">
          <p>Well done! You took your <%= prescription.name %> prescription today</p>
        </div>
      <% else %>
        <div class="prescription_check">
          <p>You have to take your <%= prescription.name %> prescription today, <%= prescription.frequency %></p>
          <%= link_to "Mark done", prescription_checks_path(pid: prescription.id), method: "post" %>
        </div>
      <% end %>

    <% end %>

  <% end %>

</div>

<div class="user-ul" id="appointments">
  <% @upcoming_appointments.each do |appointment| %>
    <div class="dashboard-card appointment-card">
      <div class="appointment-card-2 border-bottom">
        <div>
          <p class="NHS-register"><b><i>NHS</i></b> doctor</p>
          <p class="doctor-name">Dr. <%= appointment.doctor.user.first_name %> <%= appointment.doctor.user.last_name %></p>
          <p class="doctor-specialty"><%= appointment.reason %></p>
        </div>
        <div>
          <%= image_tag appointment.doctor.user.photo, class: "avatar dropdown-toggle" %>
        </div>
      </div>
      <div class="d-flex justify-content-between border-bottom">
        <div class="border-right text-center pr-3">
          <h6>Date</h6>
          <%= appointment.start_date.strftime("%b %d, %Y") %>
        </div>
        <div class="border-right text-center px-3">
          <h6>Type</h6>
          <%= appointment.appointment_type %>
        </div>
        <div class="text-center pl-3">
          <h6>Time</h6>
            <%= appointment.start_date.strftime("%l %M %p") %>
        </div>
      </div>
      <div class="appointment-card-4">
        <h6>Full records shared</h6>
        <p>Edit sharing</p>
      </div>
    </div>
  <% end %>
</div>

<style>
  .completing-message {
    font-size: small;
    margin-top: 16px;
    border-radius: 4px;
  }
</style>

