<h2>Hi <%= @user.first_name %>!</h2>

<%= link_to "Your symptoms", disease_symptoms_path(@user.diseases) %>

<h3>Latest checks:</h3>
<ul>
  <% @symptom_checks.each do |check| %>
  <li>
  <%= check.symptom.name %>: <%= check.rating %>/10 on <%= check.created_at.mday %>-<%= check.created_at.mon %>-<%= check.created_at.year %>
  </li>
  <% end %>
</ul>

<div class="container mt-4 border-bottom border-warning border-10 d-flex justify-content-start">
  <button class="btn user-tab" data-target="symptoms">Symptoms</button>
  <button class="btn user-tab" data-target="prescriptions">Prescriptions</button>
  <button class="btn user-tab" data-target="appointments">Appointments</button>
</div>

<div class="container" style="margin-top: 24px;">

  <div class="user-ul active" id="symptoms">
    <p>Hola</p>
  </div>

  <div class="user-ul" id="prescriptions">
    <p>Adios</p>
  </div>

  <div class="user-ul" id="appointments">
    <p>Chau</p>
  </div>

</div>
