<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "https://raw.githubusercontent.com/Bennimatzen/Genki/9e58ae142b0e68a1f3c0978df115ef449f039d4e/app/assets/images/logo_Vecteezy.svg" %>
      <span id="title">genki</span>
    <% end %>

  <div class="navbar-expand-sm">
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item">
          <span id="user_name">
            <%= current_user.first_name %>
          </span>
          <% if current_user.photo.attached? %>
            <%= image_tag "https://images.unsplash.com/photo-1535737525997-df1c90ca41cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1230&q=80", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>

            <!-- Please do not delete - Pepe -->
            <%# if current_user.unread_messages? %>
              <!-- <div class="avatar-notification"> -->
                <%#= current_user.all_unread_messages %>
              <!-- </div> -->
            <%# end %>

            <%# add notification if new appointment summary  %>

          <% end %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Letters", appointment_summaries_path, class: "dropdown-item" %>
            <% if current_user.unread_messages?%>
              <%= link_to "Messages", chats_path, class: "dropdown-item unread-messages-link"%>
            <% else %>
              <%= link_to "Messages", chats_path, class: "dropdown-item" %>
            <% end %>
            <%= link_to "Calls", pages_calls_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
