<h3>Hi! <%= current_user.first_name.capitalize %></h3>
<h5>These are all your active chats:</h5>

<% @chats.each do |chat| %>
  <% if chat.unread_messages_count > 0 %>
    <div class="unread-chats">
      <%= link_to chat_path(chat) do  %>
        <%= image_tag chat.doctor.user.photo, class: "avatar dropdown-toggle" %>

        <span>Dr. <%= chat.doctor.user.last_name %></span>

        <br>
        <br>
        <small><%= chat.messages.last.content[0..50] %> ...</small>
      <% end %>
    </div>
  <% else %>
    <div class="chats">
      <%= link_to chat_path(chat) do  %>
        <%= image_tag chat.doctor.user.photo, class: "avatar dropdown-toggle" %>

        <span>Dr. <%= chat.doctor.user.last_name %></span>

        <br>
        <br>
        <% if chat.messages.any? %>
          <small><%= chat.messages.last.content[0..50] %> ...</small>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
