<h1>Chat with me</h1>
<div id="messages" data-chatroom-id="<%= @chat.id %>">
  <% @chat.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.first_name %><%= message.user.last_name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>

<%= simple_form_for [ @chat, @message ] do |f| %>
  <%= f.input :content, label: false, placeholder: "Write a message" %>
  <%= f.submit %>
<% end %>
