<h3>Chat with Dr. <%= @chat.doctor.user.last_name %></h3>


<div class="letter-center">
  <div class="chat" id="messages" data-chat-id="<%= @chat.id %>">
    <% @chat.messages.order('created_at').each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
  </div>
</div>

<div class="chat-box">
  <%= simple_form_for [ @chat, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Write a message" %>
    <%= f.button :submit, "Send", class: "btn btn-primary" %>
  <% end %>
</div>


<style>
  .chat-box {
    margin-top: 16px;
    margin-bottom: 75px;
  }

  .btn {
    position: relative;
    left: 16px;
  }

</style>
