<div class="row justify-content-center mt-10" style="margin-right: 0; margin-left: 0px;">
  <div class="col-11 mb-2 mt-3">
    <div class="heading-color">
      <div class="conatainer mb-4">
        <h3>Chat with Dr. <%= @chat.doctor.user.last_name %></h3>

      </div>
    </div>
  </div>
</div>


<div class="letter-center">
  <div class="chat" id="messages" data-chat-id="<%= @chat.id %>">
    <% @chat.messages.order('created_at').each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
  </div>
</div>

<div class="chat-box">
  <%= simple_form_for [ @chat, @message ], remote: true do |f| %>
    <div class="chat-box-style">
      <%= f.input :content, label: false, placeholder: "Write a message" %>
    </div>
    <%= f.button :submit, "Send", class: "btn btn-ghost" %>
  <% end %>
</div>


<style>
  .chat-box {
    margin-top: 16px;
    margin-bottom: 75px;
    padding-right: 48px;
    text-align: center;
    align-items: center;
  }

  .btn {
    position: relative;
    left:24px;
  }

  .chat-box-style {
    padding-left: 8px;
    width: 112%;
  }
</style>
