<h3 class="container my-1">Thank you for joining us ❤️</h3>
<h6 class="container mb-3">Made by the following #473 Le Wagon students:</h6>

<div class="container" style="margin-bottom: 64px;">
  <% @doctors.each do |doctor| %>
    <% if doctor.user.last_name == "Genki" || doctor.user.last_name == "Littman" || doctor.user.last_name == "George" || doctor.user.last_name == "Silver" %>
      <% next %>
    <% else %>
      <div class="container genki-card">
        <div class="first-div">
          <%= image_tag doctor.user.photo, class: "avatar-large" %>
          <p class="genki-name"><%= doctor.user.first_name %> <%= doctor.user.last_name %>
            <% if doctor.user.last_name == "Qureshi" %>
              <%= '❤️ Rails' %>
            <% elsif doctor.user.last_name == "Bhaila" %>
              <%= '❤️ frontend' %>
            <% elsif doctor.user.last_name == "Matzen" %>
              <%= '🇩🇪❤️ design' %>
            <% elsif doctor.user.last_name == "Benitez" %>
              <%= '❤️ backend' %>
            <% end %>
          </p>
        </div>
        <div class="second-div">
          <p class="genki-specialty">
            <strong>Specialty:</strong>
            <em><%= doctor.specialty %></em>
          </p>
          <p class="genki-description"><%= doctor.description %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
