<div class="container my-3">
  <h3>Pick a doctor for your appointment</h3>
</div>

<div class="container">
  <h5>Your registered doctors</h5>
</div>

<% @doctors.each do |doctor| %>
  <% if doctor.user.last_name == "Genki" || doctor.user.last_name == "Qureshi" || doctor.user.last_name == "Bhaila" || doctor.user.last_name == "Matzen" || doctor.user.last_name == "Benitez" %>
    <% next %>
  <% else %>
    <%= link_to new_doctor_appointment_path(doctor) do %>
      <div class="container doc-card mb-3">
        <div>
          <p class="NHS-register"><b><i>NHS</i></b> doctor</p>
          <p class="doctor-name">Dr. <%= doctor.user.first_name %> <%= doctor.user.last_name %></p>
          <p class="doctor-specialty"><%= doctor.specialty %></p>
        </div>
        <div>
        <%= image_tag doctor.user.photo, class: "avatar dropdown-toggle" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
<br>
<br>
<br>

