<div class="container header-profile m-3">
  <h1>Pick a doctor for your appointment</h1>
</div>

<div class="container mt-5 mb-3 ml-3 mr-3">
  <h5>Your registered doctors</h5>
</div>

<div class="container m-3">
  <% @doctors.each do |doctor| %>
    <%= link_to new_doctor_appointment_path(doctor) do %>
      <div class="container doc-card mb-5">
        <div>
          <p class="NHS-register"><b><i>NHS</i></b> registered doctor</p>
          <p class="doctor-name">Dr. <%= doctor.user.first_name %> <%= doctor.user.last_name %> M.D </p>
          <p class="doctor-specialty"><%= doctor.specialty %></p>
        </div>
        <div>
        <%= image_tag doctor.user.photo, class: "avatar dropdown-toggle" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
