<div class="container-sm">
  <div class="doctor-card">
    <%= image_tag @doctor.user.photo, class: "avatar dropdown-toggle" %>
    <h4>Hi! I am Dr. <%= @doctor.user.first_name.capitalize %> <%= @doctor.user.last_name.capitalize %></h4>
    <p>I am a <%= @doctor.specialty %> - <%= @doctor.description %> </p>
  </div>

</div>

<%= link_to chats_path, method: "post" do %>
  <p style="color: rgb(2,94,184); text-decoration: none; margin-left: 16px;">Chat with me</p>
<% end %>




