<h3 class="container mb-5">Treatment overview</h3>
<h6 class="container"><strong>Specialist appointment for <%= current_user.first_name %></strong></h6>
<p class="container appointment-summary">with Dr.<%= @appointment_summary.doctor.user.first_name %><%= @appointment_summary.doctor.user.last_name %> at <%= @appointment_summary.appointment.start_date.strftime("%a %l:%M %e %b %y") %></p>

<div class="dashboard-card py-3 px-1"> <!-- dashboard-card -->
  <div class="container text-left">
    <p>Appointment Summary</p>
    <p class="appointment-summary"><%= @appointment_summary.content %></p>
  </div>
  <div class="container text-left">
    <p>Your actions</p>
    <p class="appointment-summary"> <%= @appointment_summary.plan %> </p>
  </div>

</div>

<%= link_to user_prescriptions_path(@appointment_summary.user) do %>
  <div class="dashboard-card d-flex justify-content-around align-items-center p-3 text-decoration-none"  id="div-links">
    <i class="fas fa-pills circle-icon"></i>
    <div class="container text-left d-flex flex-column">
      <p class="m-0"><strong>See prescriptions</strong></p>
      <p class="appointment-summary mt-1 mb-0"> Click here to see new prescription added </p>
    </div>
    <h4>></h4>
  </div>
<% end %>
<br>
<br>
<br>

