<h3 class="container my-3">Manage your appointments</h3>

<%= link_to doctors_path do %>
<div class="dashboard-card d-flex justify-content-around align-items-center p-3 mb-3" id="div-links">
  <i class="far fa-calendar-alt circle-icon"></i>
  <div class="container text-left d-flex flex-column">
    <p class="m-0"><strong>Book a new appointment</strong></p>
    <p class="appointment-summary mt-1 mb-0">at a time that suits you</p>
  </div>
  <h4>></h4>
</div>
<% end %>

<h5 class="container">Upcoming appointments</h5>
<!-- If no appointments, show some text -->
<% @upcoming_appointments.each do |appointment| %>
  <div class="dashboard-card my-4">
    <div class="appointment-card-2 border-bottom d-flex justify-content-between pl-0 pr-0">
      <div class="p-3">
        <p class="NHS-register"><b>NHS </b>doctor</p>
        <p class="doctor-name">Dr. <%= appointment.doctor.user.first_name %> <%= appointment.doctor.user.last_name %></p>
        <p class="doctor-specialty"><%= appointment.reason %></p>
      </div>
      <div class="p-3">
        <%= image_tag appointment.doctor.user.photo, class: "avatar dropdown-toggle" %>
      </div>
    </div>
    <div class="d-flex justify-content-between border-bottom">
      <div class="text-center px-3 pl-3 py-3 flex-fill">
        <h6>Date</h6>
        <%= appointment.start_date.strftime("%b %d, %y") %>
      </div>
      <div class="border-right border-left text-center px-3 py-3 flex-fill">
        <h6>Type</h6>
        <%= appointment.appointment_type %>
      </div>
      <div class="text-center px-3 py-3 flex-fill">
        <h6>Time</h6>
          <%= appointment.start_date.strftime("%l %M %p") %>
      </div>
    </div>
    <div class="appointment-card-4 p-3">
      <h6>Full records shared</h6>
      <p>Edit sharing</p>
    </div>
  </div>
<% end %>
<br>
<br>
<br>



