<div class="container mb-5">
  <h3>Pick a date and slot with Dr. <%= @doctor.user.first_name %></h3>
</div>

<div class="container">
  <%= simple_form_for [ @doctor, @appointment ] do |f| %>
    <%= f.input :appointment_type,
                required: true,
                collection: ["In-person", "Remote"] %>
    <%= f.input :reason,
                required: true %>
    <%= f.input :start_date,
                required: true,
                html5: true %>
    <%= f.submit "Submit", class: "btn btn-ghost" %>
  <% end %>
</div>
