


            <%= @appointment.start_date.strftime("%l %M %p") %>
          <%= @appointment.appointment_type %>
          <%= @appointment.start_date.strftime("%b %d, %y") %>
          <%= f.input :record_share,
          <%= image_tag @appointment.doctor.user.photo, class: "avatar dropdown-toggle" %>
          <h6>Date</h6>
          <h6>Time</h6>
          <h6>Type</h6>
          <p class="doctor-name">Dr. <%= @appointment.doctor.user.first_name %> <%= @appointment.doctor.user.last_name %></p>
          <p class="doctor-specialty"><%= @appointment.reason %></p>
          <p class="NHS-register"><b><i>NHS</i></b> doctor</p>
          wrapper: :custom_boolean_switch %>
        <% end %>
        <%= simple_form_for [ @doctor, @appointment ] do |f| %>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="border-right border-left text-center px-3 py-3 flex-fill">
        <div class="p-3">
        <div class="p-3">
        <div class="text-center px-3 pl-3 py-3 flex-fill">
        <div class="text-center px-3 py-3 flex-fill">
        <h6>Full records shared</h6>
        <p>Edit sharing</p>
      </div>
      </div>
      </div>
      <div class="appointment-card-2 border-bottom d-flex justify-content-between pl-0 pr-0">
      <div class="appointment-card-4 p-3">
      <div class="d-flex justify-content-between border-bottom">
      <h1>Your appointment is all booked!</h1>
      <i class="fas fa-check"></i>
     <%= link_to "My appointments", user_appointments_path(current_user), class: "btn btn-ghost"  %>
    </div>
    </div>
    </div>
    </div>
    <div class="app-card-4">
    <div class="appointment-confirmation">
    <div class="dashboard-card">
    <div>
  </div>
  </div>
  </div>
  </div>
  <br>
  <div class="appointment-card-mn-confirmation">
  <div class="confirmation-div">
  <div class="container record-share">
  <div class="container">
</div>
<div class="confirmation-container">
